<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=width-device, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="css/login.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<title>Recuperar Usuário</title>
</head>

<body class="recuperar">
	<canvas id="lamp-anim" class="lamp-anim" width="100%" height="100%"></canvas>

	<div class="container_recuperar">
		
		<form class="form-container" method="post" th:object="${usuario}" action="recuperarSenha">
			<h3>Recuperar Senha</h3>
			<div class="alert alert-danger" role="alert" th:if="${msg}">
				<strong th:text="${msg}"></strong>
			</div>
			<input type="text" name="email" id="email" th:field="*{email}" placeholder="email">
			<button type="submit">Enviar</button>

			<a th:href="@{login}">Voltar</a>
	</div>
	</form>
	

	<footer>
		<script src="js/script.js"></script>
	</footer>
</body>

</html>